.footer, .footer-login {
  background: linear-gradient(to bottom, #000000, #011344);
  color: #000000;
  padding: 20px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  height: auto; /* Cambiado de 200px a auto */
  position: relative;
  z-index: 2;
  margin-top: 100px;
}

.footer-text {
  text-decoration: none;
  color: #ffffff;
  transition: color 0.3s;
}

.footer-text:hover {
  color: #00ccff;
}

.footer-div {
  text-align: center;
  flex: 1 1 30%; /* Añadido para permitir que los elementos se ajusten en pantallas pequeñas */
  margin: 10px; /* Añadido para espacio entre los elementos */
}

.footer-title {
  font-size: 1.5em;
  color: #ffffff;
  margin-bottom: 10px;
}

/* Media queries para pantallas más pequeñas */
@media (max-width: 768px) {
  .footer, .footer-login {
      padding: 10px 0;
      height: auto;
      justify-content: center; /* Centrar los elementos */
  }

  .footer-div {
      flex: 1 1 45%; /* Ajustar la flexibilidad de los elementos */
      margin: 5px; /* Reducir el margen para pantallas pequeñas */
  }

  .footer-title {
      font-size: 1.2em; /* Reducir el tamaño del texto */
  }
}

@media (max-width: 480px) {
  .footer, .footer-login {
      padding: 10px 0;
      height: auto;
      flex-direction: column; /* Hacer que los elementos se apilen verticalmente */
      align-items: center; /* Centrar los elementos verticalmente */
  }

  .footer-div {
      flex: 1 1 100%; /* Cada elemento ocupa el 100% del ancho */
      margin: 5px 0; /* Margen superior e inferior reducido */
  }

  .footer-title {
      font-size: 1em; /* Reducir aún más el tamaño del texto */
  }
}
